<!-- 

    Authors: 
    Ria Rupini, 
    Maitri Majumder, 
    Ria Paul, 
    Prakash Dubey

 -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet"> -->
    <title>WELCOME TO OES</title>
</head>

<style>
    .welcomeText {
        font-family: "Montserrat", sans-serif;
        text-shadow: 3px 3px rgba(92, 91, 91, 0.233);
    }

    #getStarted {
        background-color: rgb(207, 66, 66);
        color: white;
        width: 140px;
        height: 45px;
        font-family: "Roboto", sans-serif;
        font-size: 12px;
        letter-spacing: 2px;
        font-weight: bolder;
        text-transform: uppercase;
        color: rgb(207, 66, 66);
        background-color: #fff;
        border: none;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgba(3, 3, 3, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
    }

    #getStarted:hover {
        background-color: rgb(207, 66, 66);
        box-shadow: 0px 15px 20px rgba(107, 21, 21, 0.26);
        color: #fff;
        transform: scale(1.1);
    }
</style>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4 text-center pt-5 mt-5">
                <h1 class="display-3 welcomeText"><b>Welcome To OES</b></h1>
                <p class="lead">Online Examination System. A digital approach towards education system.</p>
                <form action="/commonLogin">
                    <button href="/commonLogin" id="getStarted" class="btn">Get Started</button>
                </form>
            </div>
            <div class="offset-1 col-7">
                <img class="img-fluid" src="static/images/image4.jpeg" alt="">
            </div>
        </div>
    </div>

    <!-- <div class="container-fluid border border-secondary bg-dark text-light">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, quo a. Voluptatum nulla tempore,
            officiis atque molestias dicta explicabo a veritatis, ullam dolorum praesentium nostrum beatae consequuntur
            culpa voluptates? Iure, quo similique sint impedit quos incidunt labore modi ex asperiores! Aliquam tempora
            beatae eligendi aspernatur consequuntur harum aperiam alias sapiente!
        </p>
    </div> -->


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
</body>

</html>