<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
    integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA=="
    crossorigin="anonymous" />
    <title>Reset Password</title>
</head>
<body>
    <div class="container" style="width: 20%; margin: 30px;">
        <form id="reset-form">
            <!-- Email input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="form1Example1">Email address</label>
              <input type="email" id="email" class="form-control" />
            </div>
        
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
          </form>
    </div>

    <script>
        document.getElementById('reset-form').addEventListener('submit', async (e) => {
            e.preventDefault();
            const email = document.getElementById('email').value;
            const result = await fetch('/reset-password', {
                method: "POST",
                body: JSON.stringify({
                    email
                }),
                headers: {
                    "Content-Type": "application/json"
                }
            })
            .then(res => res.json())
            .catch(err => console.log(err.message));
            if (result.error) {
                alert(result.error)
            } else {
                alert(result.message);
            }
            window.location.href = '/commonLogin'
        })
    </script>
</body>
</html>