<!-- 

    Authors: 
    Ria Rupini, 
    Maitri Majumder, 
    Ria Paul, 
    Prakash Dubey

 -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/studentArea.css">
    <link rel=" stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Student Home</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-10 py-2">
                <h3>Hello <%- name %></h3>
                <!-- <h3>Hello Username</h3> -->
            </div>
            <div class="col-2 py-2 logout">
                <button class="logout_btn"><a href="logout"
                        style="text-decoration: none; color: white">Logout</a></button>
            </div>
        </div>
        <div class="row">
            <div class="offset-1 col-4 text-center pt-5 mt-5">
                <h1 class="display-4">Go To Your Upcoming Exams</h1>
                <!-- <p class="lead">You can view your upcoming exams.</p> -->
                <button class="upcoming_exams"><a href="dashboard" style="text-decoration: none; color:white;">View
                        Exams</a></button>

            </div>
            <div class="offset-1 col-6">
                <img class="img-fluid w-75" src="/static/images/20944400.jpeg" alt="">
            </div>
        </div>
        <hr>

        <div class="row pt-5 mt-5 pl-5 ml-5">
            <div class="col-6">
                <img class="img-fluid w-75" src="/static/images/21207.jpeg" alt="">

            </div>
            <div class="offset-1 col-4 text-center pt-3">
                <!-- <h1 class="display-4">Hello <%- name %> -->
                <!-- </h1> -->
                <h1 class="display-4">Go To Your Past Exams</h1>
                <!-- <p class="lead">View your past exam results</p> -->
                <button class="past_exams"><a href="pastExams" style="text-decoration: none; color: white">Past
                        Exams</a></button>



            </div>
        </div>
        <br>
    </div>



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
</body>

</html>